#waybar {
    color: #ffffff;
    background-color: alpha(#020503, 0.8);
    border-radius: 1px;
}

#idle_inhibitor.activated {
    background-color: #B33625;
}

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#workspaces button {
    color: #ffffff;
}

#workspaces button.active {
    color: #ffffff;
}

#custom-music {
    color: #ffffff;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

#custom-tray-toggle {
    color: #ffffff;
    padding: 0 6px;
}

#custom-camera {
    color: #ffffff;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: 16px;
}
